<!DOCTYPE html>
<html>
  <head>
    <title>Paulov Tarkov WebServer - Dashboard</title>
    <link rel='stylesheet' href='https://bootswatch.com/5/darkly/bootstrap.min.css' />
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div class="container-fluid">
      <div class="container">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <p>Server Mode is: <%= serverMode %></p>
        <p>App Version is: <%= appVersion %></p>
        <ul>
          <li><a href="/api-docs">Swagger API Docs</a></li>
          <li><a href="/ammo">Ammo</a></li>
          <li><a href="/items">Items</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
