
<!DOCTYPE html>
<html>
    <head>
        <title>Paulov Tarkov WebServer - Dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
        <%- include('stylesheets.ejs') %>
    </head>
    <body>
    <%- include('navbar.ejs') %>
    <div class="container">
        <h1>User Details</h1>
        <h2><%= profile.characters.pmc.Info.Nickname %></h2>
        <fieldset>
            <legend>Info</legend>
             <% for(let key in Object.keys(profile.characters.pmc.Info)) { %>
                
                <div class="row">
                    <label class="col-md-6"><%= Object.keys(profile.characters.pmc.Info)[key] %></label>
                    <input class="col-md-6" readonly value="<%= profile.characters.pmc.Info[Object.keys(profile.characters.pmc.Info)[key]] %>" />
                </div>
                
                
            <% } %>
           
        </fieldset>
    </div>
     
    </body>
</html>
